<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Vue lists and conditional content</h1>
</header>
<section id="assignment">
    <h2>Assignment</h2>
    <input type="text" v-model="value" />
    <button @click="addItem">Add Task</button>
    <p v-if="items.length === 0">Items list is empty</p>
    <ul v-if="items.length !== 0 && isListShown">
        <li v-for="(item, index) in items" @click="removeItem(index)">{{ item }}</li>
    </ul>
    <p>
        <button @click="toggle()">{{ buttonLabel }}</button>
    </p>
</section>
<script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="text/javascript" src="assignment_solution.js"></script>
</body>
</html>